.container {
    max-width: $site-width;
    margin: 0 auto;
    height: $gutter * 2 + $grid * 2;
    // The height of the logo is 40px, aka $grid * 2

    @include media-query(menu-break) {
        height: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: $grid * 2 $grid * 4.5;
    }
}

.torchboxLogo {
    @include z-index(two);
    position: absolute;
    top: $gutter;
    left: $gutter;

    @include media-query(menu-break) {
        position: static;
    }
}
