.container {
    margin: 0 8.33vw;
    padding: $grid 0;

    @include media-query(medium) {
        padding: $grid $grid * 2;
    }

    @include media-query(large) {
        padding: $grid * 3 0 $grid * 5 0;
        margin: 0 25vw;
    }
}

.title {
    line-height: 1em;

    @include media-query(large) {
        margin-bottom: $grid * 2;
    }
}
