.container {
    padding: $grid;
    display: flex;
    flex-direction: column;

    @include media-query(medium) {
        padding: $grid * 2;
    }

    @include media-query(large) {
        padding: 0 $grid * 4 $grid * 4 $grid * 4;
        flex-direction: row;
    }
}

.textContainer {
    text-align: left;
    margin-bottom: $grid;
    order: 1;

    @include media-query(medium) {
        order: 2;
    }

    @include media-query(large) {
        max-width: 635px;
        margin-bottom: 0;
    }
}

.title {
    @include font-size(xxxxl);
    font-weight: $weight--extrabold;
    line-height: 60px;

    @include media-query(medium) {
        line-height: 70px;
    }

    @include media-query(large) {
        line-height: 100px;
    }

    &Accent {
        color: var(--color--coral);
    }
}

.image {
    display: none;
    @include media-query(large) {
        display: block;
        order: 1;
        margin: auto $grid * 2 $grid * 2 auto;
        transform: rotate(0deg);
    }
}

.carouselContainer {
    padding-bottom: 120px;

    @include media-query(medium) {
        margin-left: auto;
        width: 90%;
    }
}

.carousel {
    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    padding-bottom: 80px;

    &Slide {
        display: inline;
    }
}

.slide {
    position: relative;

    &Image {
        width: 100%;
        cursor: grab;

        @include media-query(medium) {
            width: unset;
        }
    }

    &Details {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: var(--color--white-translucent);
    }

    &Link {
        @include font-size(s);
        color: var(--color--indigo);
        font-weight: $weight--extrabold;
        text-decoration: underline;
        text-underline-position: under;
        margin: $grid 0;
    }
}

.buttonNavigation {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);

    @include media-query(medium) {
        left: 0;
        transform: unset;
    }
}

.leftButton {
    margin-right: $grid;
}
