.contentContainer {
    max-width: 840px;
    padding: $grid * 1.5 $grid * 1.5 0 $grid * 1.5;

    @include media-query(medium) {
        margin: 0 auto;
        padding: $grid * 3 $grid * 3 0 $grid * 3;
    }

    @include media-query(large) {
        padding: 0;
        margin: 0 auto $grid 25%;
    }
}

.textContainer {
    padding-top: $grid * 1.5;
    max-width: $content--narrow;
    margin-right: auto;
}

.title {
    @include font-size(xxxl);
    font-weight: $weight--extrabold;
    line-height: 1;
    margin: 0;
}

.department {
    @include font-size(s);
    color: var(--color--dark-indigo);
    margin-bottom: 5px;
}

.location {
    @include font-size(xxxxs);
    font-weight: $weight--bold;
    color: var(--color--coral-dark);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin-bottom: 5px;
}

.salary {
    @include font-size(m);
    font-weight: $weight--bold;
    color: var(--color--dark-indigo);
    margin-bottom: 15px;
}

.ctaContainer {
    display: flex;
    flex-direction: column;
    margin-top: $grid;

    @include media-query(medium) {
        margin-top: $grid * 1.5;
        flex-direction: row;
    }
}

.button {
    @include font-size(m);
    margin-bottom: $grid;

    @include media-query(medium) {
        margin-bottom: 0;
    }
}
