.textPath {
    fill: var(--color--dark-indigo);

    :global .themeDark :local & {
        fill: var(--color--white);
    }

    @include hcm() {
        fill: var(--color--black);

        :global .themeDark :local & {
            fill: var(--color--black);
        }
    }

    @include high-contrast-dark-mode() {
        fill: var(--color--white);

        :global .themeDark :local & {
            fill: var(--color--white);
        }
    }
}

.flamePath {
    fill: var(--color--coral);

    :global .themeDark :local & {
        fill: var(--color--lagoon);

        @include hcm() {
            fill: var(--color--black);

            @include high-contrast-dark-mode() {
                fill: var(--color--white);
            }
        }
    }

    @include hcm() {
        fill: var(--color--black);
    }

    @include high-contrast-dark-mode() {
        fill: var(--color--white);
    }
}
