.container {
    margin: $grid 8.33vw $grid * 3 8.33vw;
    text-align: left;

    @include media-query(large) {
        margin: $grid * 4 16.66vw $grid * 6 16.66vw;
        max-width: 930px; // Following design
    }
}

.title {
    @include font-size(l);
    color: var(--color--dark-indigo);
}

.richText {
    max-width: 750px;
    margin-right: auto;
    & p {
        color: var(--color--dark-indigo);
        @include font-size(s);
    }
}

.jobsButton {
    margin-top: $grid * 2;
}

.academyButton {
    margin-top: $grid * 1.5;
    max-width: 300px;

    @include media-query(medium) {
        margin-top: $grid * 2;
        max-width: unset;
    }
}
