.textContent {
    margin: 0 8.33vw;
    padding: $grid * 4 0 $grid * 1.5 0;

    @include media-query(medium) {
        padding: $grid * 4 0 $grid 0;
    }

    @include media-query(large) {
        padding: $grid * 6 0 $grid 0;
        margin: 0 25vw;
    }
}

.title {
    @include font-size(xxxl);
    line-height: 1em;
    font-weight: $weight--extrabold;
    margin-bottom: $grid * 2;
}

.subtitle {
    @include font-size(m);
    color: var(--color--dark-indigo);
    line-height: 160%;
}

.accent {
    color: var(--color--coral);
}
