.pageContainer {
    max-width: $site-width;
    margin: 0 auto;

    @include media-query(large) {
        padding: $grid * 5 0 $grid * 2 0;
    }
}

.contentContainer {
    max-width: 840px;
    padding: $grid * 2 $grid * 1.5 $grid * 3 $grid * 1.5;

    @include media-query(medium) {
        margin: 0 auto;
        padding: $grid * 2 $grid * 3 $grid * 2 $grid * 3;
    }

    @include media-query(large) {
        padding: 0 0 $grid * 2 0;
        margin: 0 auto 0 24%;
    }
}

.textContainer {
    max-width: $content--narrow;
    margin-right: auto;

    @include media-query(large) {
        padding-top: $grid * 2;
    }
}

.richText {
    ul {
        list-style: none;
        margin-left: 2px;

        li {
            position: relative;
            padding-left: 28px;
            margin-bottom: 18px;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 6px;
                width: 10px;
                height: 15px;
                background-color: var(--color--coral);
                transform: rotate(30deg);

                :global .themeDark :local & {
                    background-color: var(--color--lagoon);
                }
            }
        }
    }

    p {
        @include font-size(xs);
        line-height: 1.7;
    }
}

.hiringPolicyTitle {
    margin-top: 0;

    @include media-query(medium) {
        margin-top: $grid;
    }

    @include media-query(large) {
        margin-top: $grid * 4;
    }
}

.whoWeWorkWith {
    padding: $grid;

    @include media-query(medium) {
        margin: $grid auto 0 auto;
        padding-bottom: 0;
    }

    @include media-query(large) {
        max-width: 1100px;
        padding: 0 $grid * 2;
    }
}
