.contentContainer {
    margin: 0 8.33vw;
    padding: $grid 0;

    @include media-query(large) {
        margin-left: 25vw;
        max-width: 50vw;
    }
}

.richText {
    ul {
        list-style: none;
        margin-left: 2px;

        li {
            position: relative;
            padding-left: 28px;
            margin-bottom: 18px;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 6px;
                width: 10px;
                height: 15px;
                background-color: var(--color--coral);
                transform: rotate(30deg);

                :global .themeDark :local & {
                    background-color: var(--color--lagoon);
                }
            }
        }
    }

    p {
        @include font-size(xs);
        line-height: 1.7;
    }
}

.hiringPolicyTitle {
    margin-top: $grid * 2;

    @include media-query(medium) {
        margin-top: $grid * 3;
    }

    @include media-query(large) {
        margin-top: $grid * 4;
    }
}

.whoWeWorkWith {
    padding: $grid * 2 0 $grid 0;
    margin: 0 16.66vw;
    margin-top: $grid * 1.5;

    @include media-query(medium) {
        margin-top: $grid;
        padding-bottom: 0;
    }
}
