.container {
    display: grid;
    column-gap: $grid * 3;
    row-gap: $grid * 2;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    list-style: none;
    margin: 0 8.33vw;
    padding-bottom: $grid * 2;

    @include media-query(medium) {
        gap: $grid * 1.5;
        grid-template-columns: repeat(4, 1fr);
        padding: $grid 0 $grid * 2 0;
    }

    @include media-query(large) {
        grid-template-columns: repeat(8, 1fr);
        padding: $grid * 2 0 $grid * 4 0;
    }

    @include media-query(menu-break) {
        gap: $grid * 2;
    }
}

.logo {
    @media (prefers-reduced-motion: no-preference) {
        opacity: 0;
    }

    max-width: 131px;
    width: 100%;
    // Specify a consistent height for all logos so intersection observer loads them in smoothly
    height: 100%;
    display: flex;
    align-items: center;

    &:nth-child(odd) {
        justify-self: right;
    }

    &:nth-child(even) {
        justify-self: left;
    }

    @include media-query(medium) {
        &:nth-child(n) {
            justify-self: unset;
        }
    }
}
