.container {
    position: relative;
    margin: $grid * 4 0 $grid * 2;

    @include media-query(medium) {
        margin: $grid * 2 0 0 0;
        padding-bottom: $grid * 2;
    }

    @include media-query(large) {
        margin-top: $grid * 20;
        margin-bottom: $grid * 24;
        padding-bottom: 0;
    }
}

.title {
    // Specify font size manually so title fits on one line on iPhone SE
    font-size: 50px;
    color: var(--color--white);
    line-height: 1;
    margin-top: $grid;

    @include media-query(medium) {
        @include font-size(xxxxl);
        max-width: 450px;
        padding-top: $grid * 7;
        padding-right: 0;
    }

    @include media-query(large) {
        padding-top: 0;
        max-width: 600px;
    }
}

.content {
    margin-bottom: $grid * 1.5;

    p:last-child {
        margin-bottom: 0;
    }

    @include media-query(medium) {
        max-width: 400px;
    }

    @include media-query(large) {
        max-width: 483px;
    }
}

.textContainer {
    @include z-index(one);
    padding: $grid * 2;
    position: relative;

    @include media-query(medium) {
        @include z-index(two);
        padding-top: $grid * 3;
        padding-left: $grid * 2;
        margin-bottom: $grid * 14;
    }

    @include media-query(large) {
        padding-left: 90px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.background {
    @include z-index(under);
    content: '';
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #2f128d 0%, #251657 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &:after,
    &:before {
        content: '';
        position: absolute;
        background-color: var(--color--coral);
        transform: rotate(30deg);
    }

    &:before {
        top: -70px;
        right: 80px;
        width: 36px;
        height: 108px;
    }

    &:after {
        top: -20px;
        right: 40px;
        width: 22px;
        height: 56px;
    }

    @include media-query(medium) {
        transform: rotate(30deg);
        height: 630px;
        width: 600px;
        left: -90px;
        top: 80px;

        &:after,
        &:before {
            display: none;
        }
    }

    @include media-query(large) {
        transform: rotate(30deg);
        top: -$grid * 11;
        left: -$grid * 2.5;
        width: 762px;
        height: 828px;
    }
}

.image {
    @include z-index(two);
    width: 100%;

    @include media-query(medium) {
        @include z-index(under);
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        width: unset;
        margin-top: 0;
    }

    @include media-query(large) {
        left: unset;
        bottom: unset;
        top: -$grid * 8;
        width: 1000px;
        height: 800px;

        // Hide the left corners of the image so they don't show behind .background
        &::before {
            @include z-index(one);
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 80px;
            background-color: var(--color--white);
        }
    }

    @include media-query(menu-break) {
        right: $grid * 2;
    }
}
