.container {
    display: flex;
    flex-direction: column;
    margin: 0 8.33vw;

    @include media-query(large) {
        flex-direction: row;
        margin-bottom: $grid * 4;
    }

    @include media-query(x-large) {
        margin: 0 25vw;
    }
}

.title {
    @include font-size(l);
    margin-bottom: $grid;
    margin-top: $grid;

    @include media-query(medium) {
        margin-bottom: 2 * $grid;
    }

    @include media-query(large) {
        text-align: left;
    }
}

.benefitsList {
    list-style-type: none;
    display: grid;
    gap: $grid;
    grid-template-columns: 1fr;
    margin-left: 0;

    @include media-query(medium) {
        gap: $grid * 1.5;
        grid-template-columns: 1fr 1fr;
    }

    @include media-query(large) {
        gap: $grid * 2;
        grid-template-columns: 1fr 1fr;
    }
}

.benefit {
    &Item {
        display: flex;
        flex-direction: row;
        align-items: center;
        opacity: 0;
    }

    &Icon {
        margin-right: $grid * 0.5;
        flex-shrink: 0;

        @include media-query(large) {
            margin-right: $grid;
        }
    }

    &Text {
        text-align: left;
        font-weight: $weight--bold;
        color: var(--color--dark-indigo);
        @include font-size(xs);

        @include media-query(medium) {
            max-width: 80%;
        }

        @include media-query(large) {
            max-width: 240px;
        }
    }
}

.decoration {
    margin-left: auto;
    margin-right: $grid * 2;
    width: 170px;
    position: relative;

    @include media-query(medium) {
        width: 250px;
    }

    @include media-query(large) {
        width: 288px;
        margin-top: auto;
        align-self: end;
        margin-bottom: -30px;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        background: var(--color--coral);
        height: 3px;

        width: 280px;
        bottom: 10px;
        right: -20px;
        transform: rotate(-10deg);

        @include media-query(medium) {
            width: 400px;
            bottom: 12px;
        }

        @include media-query(large) {
            width: 800px;
            bottom: 8px;
            right: -50px;
            transform: rotate(-6deg);
        }
    }
}

.fruitBowl {
    width: 208px;
    height: auto;

    @include media-query(medium) {
        width: 238px;
    }

    @include media-query(large) {
        width: 300px;
    }
}
