.container {
    position: relative;
    margin-bottom: $grid * 2;
    padding-top: $grid * 2;

    @include media-query(medium) {
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: $grid * 12;
    }

    @include media-query(large) {
        margin-top: $grid * 16;
        margin-bottom: $grid * 20;
        padding-bottom: 0;
    }
}

.title {
    @include font-size(xxxxl);
    color: var(--color--white);
    line-height: 1;
    margin-top: $grid;
    max-width: 360px;

    @include media-query(medium) {
        max-width: 480px;
        padding-top: $grid * 7;
        padding-right: 0;
    }

    @include media-query(large) {
        padding-top: 0;
        max-width: 540px;
    }
}

.strikethrough {
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 8px;
        border-radius: 10px;
        background-color: var(--color--coral);
        top: 50%;
        left: 0;
        right: 0;
        transform: rotate(-2deg);
    }
}

.emphasis {
    color: var(--color--coral);
}

.richText {
    color: var(--color--white);
    margin-bottom: $grid;

    & p {
        color: var(--color--white);
    }

    @include media-query(medium) {
        max-width: 345px;
    }

    @include media-query(large) {
        max-width: 415px;
    }
}

.textContainer {
    @include z-index(under);
    padding: $grid * 2 $grid * 2 $grid * 3 $grid * 2;
    position: relative;

    @include media-query(medium) {
        @include z-index(two);
        padding-top: $grid * 3;
        padding-left: $grid * 2;
    }

    @include media-query(large) {
        padding-left: 90px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.background {
    @include z-index(under);
    content: '';
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #2f128d 0%, #251657 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &:after,
    &:before {
        content: '';
        position: absolute;
        background-color: var(--color--coral);
        transform: rotate(30deg);
    }

    &:before {
        top: -70px;
        right: 80px;
        width: 36px;
        height: 108px;
    }

    &:after {
        top: -20px;
        right: 40px;
        width: 22px;
        height: 56px;
    }

    @include media-query(medium) {
        transform: rotate(30deg);
        height: 630px;
        width: 600px;
        left: -90px;
        top: 80px;

        &:after,
        &:before {
            display: none;
        }
    }

    @include media-query(large) {
        transform: rotate(30deg);
        top: -$grid * 11;
        left: -$grid * 2.5;
        width: 762px;
        height: 828px;
    }
}

.image {
    @include z-index(two);
    width: 100%;

    @include media-query(medium) {
        @include z-index(under);
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        margin-top: 0;
    }

    @include media-query(large) {
        left: unset;
        bottom: unset;
        top: -$grid * 9;
        width: 1100px;
        height: 700px;

        // Hide the left corners of the image so they don't show behind .background
        &::before {
            @include z-index(one);
            content: '';
            position: absolute;
            top: 0;
            bottom: -$grid * 9;
            left: 0;
            width: 200px;
            background-color: var(--color--white);
        }
    }

    @include media-query(menu-break) {
        right: $grid * 2;
    }
}
