.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $grid * 3;
    padding: $grid * 1.5 8.33vw;

    @include media-query(medium) {
        padding: $grid * 2 3.5vw;
    }

    @include media-query(large) {
        grid-template-columns: 1fr 1fr;
        margin: 0 3.5vw;
    }
}

.card {
    position: relative;
    background-color: var(--color--coral);
    border-radius: 10px;

    &::before {
        content: '';
        position: absolute;
        top: -20px;
        left: 60px;
        width: 30px;
        height: 40px;
        border: 2px solid var(--color--white);
        border-radius: 7px;
        background: var(--color--grey-light);
    }

    &::after {
        content: '';
        position: absolute;
        top: -20px;
        right: 60px;
        width: 30px;
        height: 40px;
        border: 2px solid var(--color--white);
        border-radius: 7px;
        background: var(--color--grey-light);
    }
}

.title {
    @include font-size(l);
    font-weight: $weight--extrabold;
    color: var(--color--white);
    text-align: center;
    margin-top: 35px;
}

.content {
    padding: 0 $grid;

    @include media-query(medium) {
        padding: 0 $grid * 2;
        text-align: center;
    }
}

.button {
    margin: 25px auto 55px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon {
    @include z-index(one);
    position: relative;
    margin: 50px auto 0 auto;
}

.microphonePerson {
    display: block;
    margin: 0 auto;
    transform: translateX(36px);
}

.coffeePerson {
    display: block;
    margin: 0 auto;
}

.disabledButton {
    @include font-size(m);
    background-color: var(--color--white);
    border-radius: 7px;
    color: var(--color--coral);
    cursor: not-allowed;
    display: block;
    font-weight: $weight--extrabold;
    width: max-content;
    padding: 12px 20px 12px 20px;
    margin: 20px auto 40px auto;
}
