.heroContainer {
    max-width: $site-width;
    margin: 0 auto;
    @include z-index(zero);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: radial-gradient(
        50% 50% at 50% 50%,
        var(--color--indigo) 0%,
        var(--color--dark-indigo) 100%
    );

    @include media-query(large) {
        background: none;
    }
}

.desktopHeroImageBackgroundGradient {
    background: radial-gradient(
        50% 50% at 50% 50%,
        var(--color--indigo) 0%,
        var(--color--dark-indigo) 100%
    );
}

.textContainer {
    @include z-index(four);
    position: relative;
    text-align: left;
    padding-left: 15px;
    padding-top: 22px;
    order: 2;

    @include media-query(large) {
        padding-left: 30px;
        max-width: 500px;
        padding-top: 80px;
    }

    @include media-query(menu-break) {
        order: 1;
        padding-left: 88px;
        padding-top: 108px;
        max-width: 600px;
    }
}

.title {
    line-height: 60px;
    color: var(--color--white);

    @include font-size(xxxxl);
    font-weight: $weight--extrabold;

    @include media-query(medium) {
        line-height: 70px;
    }

    @include media-query(large) {
        line-height: 100px;
        margin-bottom: $grid * 2;
    }
}

.arrow {
    display: none;

    @include media-query(large) {
        display: block;
        margin: $grid * 2.5 0 $grid * 4 $grid * 2;
    }

    > path {
        fill: var(--color--lagoon);
    }
}

.subtitle {
    @include font-size(m);
    line-height: 38.4px;
    color: var(--color--white);
    margin-bottom: $grid;
}

.description {
    // Todo: Remove color with rich text themed styling
    color: var(--color--white);
    margin-bottom: $grid;
}

.titleAccent {
    color: var(--color--lagoon);
}

.mobileImage {
    clip-path: url(#shardClipPath);
    width: 375px;
    height: 375px;
    margin-left: auto;
    order: 1;

    @include media-query(medium) {
        width: 625px;
        height: 625px;
        margin-bottom: -$grid * 2;
    }

    @include media-query(large) {
        display: none;
    }

    & > span {
        width: 375px !important;
        height: 375px !important;

        @include media-query(medium) {
            width: 625px !important;
            height: 625px !important;
        }

        & > img {
            width: 375px !important;
            height: 375px !important;
            object-fit: cover !important;

            @include media-query(medium) {
                width: 625px !important;
                height: 625px !important;
            }
        }
    }
}

.desktopImage {
    clip-path: url(#shardClipPath);
    display: none;

    @include media-query(large) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 575px;
        height: 575px;
    }

    @include media-query(hero-break) {
        width: 750px;
        height: 775px;
    }

    & > span {
        @include media-query(large) {
            width: 575px !important;
            height: 575px !important;
        }

        @include media-query(hero-break) {
            width: 750px !important;
            height: 775px !important;
        }

        & > img {
            @include media-query(large) {
                width: 575px !important;
                height: 575px !important;
            }

            @include media-query(hero-break) {
                width: 750px !important;
                height: 775px !important;
            }
        }
    }
}

.videoContainer {
    @include z-index(one);
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    @include media-query(large) {
        display: block;
    }
}

.videoClip {
    @include z-index(three);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: url(#inverseShardClipPath);
    background: radial-gradient(
        50% 50% at 50% 50%,
        var(--color--indigo) 0%,
        var(--color--dark-indigo) 100%
    );

    @include media-query(large) {
        display: block;
        width: 600px;
        height: 600px;
    }

    @include media-query(hero-break) {
        width: 750px;
        height: 750px;
    }

    @include media-query(site-width) {
        clip-path: url(#inverseShardClipPathLarge);
        width: 750px;
        height: 750px;
    }
}

.videoOverlay {
    display: none;

    @include z-index(two);
    position: absolute;
    top: 0;
    background: radial-gradient(
        50% 50% at 50% 50%,
        var(--color--indigo) 0%,
        var(--color--dark-indigo) 100%
    );

    @include media-query(large) {
        display: block;
        right: 600px;
        width: 600px;
        height: 600px;
    }

    @include media-query(hero-break) {
        right: 750px;
        width: 750px;
        height: 750px;
    }
}

.video {
    height: 600px;

    @include media-query(hero-break) {
        height: 750px;
    }

    &:hover {
        cursor: pointer;
    }

    // Looks beside the video element to find the SVG button
    &:hover ~ svg path {
        // Updates the fill of the background path
        &:first-child {
            fill: var(--color--lagoon);
        }

        // Updates the fill of the icon path
        &:last-child {
            fill: var(--color--dark-indigo);
        }
    }
}

.playPauseButton {
    @include z-index(two);
    position: absolute;
    display: none;

    @include media-query(large) {
        display: block;
        top: 55px;
        right: 282px;
    }

    @include media-query(hero-break) {
        right: 362px;
    }

    @include media-query(site-width) {
        right: 345px;
    }
}

.svg {
    @include hidden();
}
