.container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: $weight--bold;
    line-height: 1;
    transition: color $transition-quick, transform $transition-quick;

    &:hover {
        color: var(--color--accent);
        transform: translateX(-3px);

        svg {
            fill: var(--color--primary);
            transform: translateX(5px);
        }
    }

    svg {
        margin-left: 5px;
        transition: fill $transition-quick, transform $transition-quick;
    }
}
