.container {
    @include component-spacing-centered();
    text-align: center;
    max-width: $site-width;
    padding: 0 $gutter;
}

.title {
    color: var(--color--indigo);
}

.logos {
    display: grid;
    gap: $gutter;
    grid-template-columns: repeat(2, 1fr);

    @include media-query(medium) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include media-query(large) {
        grid-template-columns: repeat(6, 1fr);
    }
}
