.container {
    position: relative;
    margin-bottom: $grid * 10;

    @include media-query(medium) {
        margin-bottom: 0;
        padding-bottom: $grid * 2;
    }

    @include media-query(large) {
        margin-top: $grid * 16;
        margin-bottom: $grid * 20;
        padding-bottom: 0;
    }
}

.title {
    @include font-size(xxxxl);
    color: var(--color--white);
    line-height: 60px;
    max-width: 400px;

    @include media-query(medium) {
        line-height: 70px;
        max-width: 480px;
    }

    @include media-query(large) {
        line-height: 100px;
        max-width: 540px;
    }
}

.strikethrough {
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 8px;
        border-radius: 10px;
        background-color: var(--color--coral);
        top: 50%;
        left: 0;
        right: 0;
        transform: rotate(-2deg);
    }
}

.emphasis {
    color: var(--color--coral);
}

.richText {
    color: var(--color--white);

    & p {
        color: var(--color--white);
    }

    max-width: 315px;

    @include media-query(large) {
        max-width: 415px;
    }
}

.textContainer {
    text-align: left;
    padding: $grid * 3 $grid $grid * 5 $grid * 1.5;
    position: relative;
    overflow: hidden;
    @include z-index(one);

    @include media-query(medium) {
        overflow: visible;
        padding-left: $grid * 2;
    }

    @include media-query(large) {
        padding-left: 90px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    &::after {
        content: '';
        position: absolute;
        background: radial-gradient(
            50% 50% at 50% 50%,
            #2f128d 0%,
            #251657 100%
        );

        @include z-index(under);
        transform: rotate(5deg);
        top: 50px;
        left: -40px;
        width: 500px;
        height: 500px;

        @include media-query(medium) {
            height: 600px;
        }

        @include media-query(large) {
            transform: rotate(30deg);
            top: -$grid * 8;
            left: -$grid * 2.5;
            width: 762px;
            height: 828px;
        }
    }
}

.image {
    position: absolute;
    @include z-index(under);

    bottom: -$grid * 8;
    right: 0;
    left: 0;

    @include media-query(medium) {
        bottom: $grid;
    }

    @include media-query(large) {
        left: unset;
        bottom: unset;
        top: -$grid * 6;
        width: 1100px;
        height: 700px;
    }

    @include media-query(menu-break) {
        right: $grid * 2;
    }
}
