.footer {
    position: relative;
    background-color: var(--color--light-grey);
    padding: ($gutter * 5) 0 ($gutter * 1.5);
}

.top {
    margin: 0 $variable-gutter--small;
    margin-bottom: ($gutter * 2);
}

.topLink {
    font-size: map-get($small-font-sizes, m);
    display: inline-block;
    margin-right: $gutter;
    font-weight: $weight--heavy;
    color: var(--color--dark-indigo);
    transition: all $transition-quick;
    border-bottom: 2px solid var(--color--light-grey);

    &:last-child {
        margin-right: 0;
    }

    &:focus,
    &:hover {
        color: var(--color--dark-indigo);
        border-bottom: 2px solid var(--color--underline);
    }

    @include media-query(medium) {
        font-size: map-get($medium-font-sizes, m);
    }
}

.content {
    margin: 0 $variable-gutter--small;
}

.addressList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 ($gutter * 3);
}

.address {
    position: relative;
    padding: 0 ($gutter * 5) $gutter 0;

    p {
        @include font-size(xxs);
        line-height: 22px;
        color: var(--color--grey);
        max-width: 300px;
    }
}

.addressTitle {
    @include font-size(s);
    font-weight: bold;
    color: var(--color--dark-indigo);
    margin: 0 0 math.div($gutter, 2);
    line-height: 1;

    &::after {
        position: absolute;
        top: -6px;
        margin-left: 10px;
        content: "";
        width: 20px;
        height: 30px;
        background: url("../public/images/cssBackgrounds/diamond.svg");
        transform: rotate(30deg);
    }
}

.bottom {
    @include media-query(large) {
        display: flex;
        align-items: center;
    }
}

.copyright {
    font-size: 0.7em;
    color: var(--color--grey);
    margin-right: math.div($gutter, 2);
}

.bottomLink {
    @include font-size(xxs);
    display: inline-block;
    height: 23px;
    margin-right: math.div($gutter, 2);
    font-weight: $weight--bold;
    border-bottom: 2px solid var(--color--lagoon);
    color: var(--color--dark-indigo);

    &:last-child {
        margin-right: 0;
    }

    &:focus,
    &:hover {
        color: var(--color--dark-indigo);
    }
}

.graphic {
    @include z-index(overlap);
    display: none;
    position: absolute;
    bottom: -8px;
    right: 20px;

    @include media-query(medium) {
        display: block;
    }
}
