.pageContainer {
    max-width: $site-width;
    margin: 0 auto;

    @include media-query(large) {
        padding: $grid * 5 0 $grid * 2 0;
    }
}

.contentContainer {
    max-width: 840px;
    padding: $grid * 2 $grid $grid * 3 $grid;

    @include media-query(medium) {
        margin: 0 auto;
        padding-bottom: $grid * 2;
    }

    @include media-query(large) {
        padding: 0 0 $grid * 2 0;
        margin: 0 auto 0 24%;
    }
}

.textContainer {
    padding-top: $grid * 2;
    max-width: 755px;
    margin-right: auto;
}

.whoWeWorkWith {
    padding: $grid;

    @include media-query(medium) {
        margin: $grid auto 0 auto;
        padding-bottom: 0;
    }

    @include media-query(large) {
        max-width: 1100px;
        padding: 0 $grid * 2;
    }
}
