.container {
    max-width: $site-width;
    margin: 0 auto;
}

.indigoBackground {
    position: relative;

    &::before {
        @include z-index(under);
        content: '';
        position: absolute;
        top: -200px;
        bottom: 0;
        left: -2000px;
        right: -2000px;
        background-color: var(--color--dark-indigo);
    }
}

.contentContainer {
    max-width: 840px;
    padding: $grid * 2 $grid 0 $grid;

    @include media-query(medium) {
        margin: 0 auto;
    }

    @include media-query(large) {
        padding: 0;
        margin: 0 auto $grid * 6 25%;
    }
}

.textContainer {
    max-width: $content--narrow;
    margin-right: auto;
}
