.container {
    padding: $grid;
    display: flex;
    flex-direction: column;

    @include media-query(medium) {
        padding: $grid * 2;
    }

    @include media-query(large) {
        padding: $grid * 4;
        flex-direction: row;
    }
}

.textContainer {
    text-align: left;
    margin-bottom: $grid;
    order: 1;

    @include media-query(medium) {
        order: 2;
    }

    @include media-query(large) {
        max-width: 635px;
    }
}

.title {
    @include font-size(xxxxl);
    font-weight: $weight--extrabold;
    line-height: 60px;

    @include media-query(medium) {
        line-height: 70px;
    }

    @include media-query(large) {
        line-height: 100px;
    }
}

.richText {
    & > p {
        color: var(--color--dark-indigo);
    }
}

.links {
    @include font-size(m);

    & a:first-child {
        margin-right: $grid * 2;
    }
}

.titleAccent {
    color: var(--color--coral);
}

.image {
    transform: rotate(-20deg);
    order: 2;
    margin-right: auto;
    margin-left: $grid * 2;

    @include media-query(medium) {
        margin-left: $grid * 3;
    }

    @include media-query(large) {
        order: 1;
        margin: auto $grid * 2 $grid * 2 auto;
        transform: rotate(0deg);
    }
}
