.bold {
    font-weight: $weight--bold;
}

.italic {
    font-style: italic;
}

.paragraphLight {
    color: var(--color--grey);
    @include font-size(s);
    line-height: 30px;
}

.paragraphIndigo {
    color: var(--color--dark-indigo);
    @include font-size(s);
    line-height: 30px;
}

.paragraphDark {
    color: var(--color--white);
    @include font-size(s);
    line-height: 30px;
}

.h2 {
    line-height: 36px;
    margin-bottom: 30px;
}

.h3 {
    line-height: 34px;
    margin-bottom: 12px;
}

.hyperlink {
    color: var(--color--dark-indigo);
    font-weight: $weight--extrabold;
    position: relative;
    text-decoration: underline;

    // This looks to follow the designs
    text-underline-position: under;

    // If we should use a custom position for the underline
    // (& add any custom hover effects) use the following instead
    /*
    &:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: var(--color--dark-indigo);
    }
    */
}

.hyperlinkDark {
    color: var(--color--white);
    font-weight: $weight--extrabold;
    position: relative;
    text-decoration: underline;

    // This looks to follow the designs
    text-underline-position: under;

    // If we should use a custom position for the underline
    // (& add any custom hover effects) use the following instead
    /*
  &:after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: var(--color--coral);
  }
  */
}
