.clip {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    background: white;
    position: relative;
    clip-path: url(#shardClipPath);

    @include media-query(medium) {
        order: 1;
        width: 500px;
        padding-top: 500px;
        margin-left: auto;
        margin-bottom: -80px;
    }

    @include media-query(large) {
        width: 630px;
        padding-top: 630px;
        margin-bottom: -280px;
    }

    @include media-query(menu-break) {
        order: 2;
        width: 750px;
        padding-top: 750px;
        margin-bottom: 0;
    }
}
