.testimonial {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: ($gutter * 2);

    @include media-query(medium) {
        grid-template-columns: auto 1fr;
        padding-top: ($gutter * 2);
    }

    &Text {
        @include font-size(m);
        font-style: normal;
        margin: 0 0 $gutter;
        padding: 0;
        color: var(--color--dark-indigo);
        line-height: 38px;
        text-align: left;

        @include media-query(large) {
            font-size: 26px;
            line-height: 46px;
        }

        &::after {
            content: "”";
            font-style: italic;
        }
    }

    &Cite {
        @include font-size(xxxs);
        color: var(--color--grey);
        margin: 0 0 15px;
        font-style: normal;
        line-height: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media-query(medium) {
            flex-direction: row;
        }
    }

    &Attribution {
        font-weight: bold;
        padding-right: 8px;
        text-transform: uppercase;
        color: var(--color--accent-dark);
        margin-bottom: 5px;
        letter-spacing: 0.15em;
    }

    &Role {
        line-height: 1.5;

        @include media-query(medium) {
            line-height: 1;
        }

        &::before {
            @include media-query(medium) {
                width: 10px;
                content: "|";
                color: rgba(var(--color--black), 0.2);
                font-weight: 100;
                padding-right: 10px;
            }
        }
    }

    &Icon {
        fill: var(--color--accent);
        width: 20vw;
        max-width: 100px;
        grid-column: 1;
        grid-row: 1;
        margin-right: 50px;
        margin-bottom: $gutter;

        @include media-query(large) {
            max-width: 120px;
            width: $variable-gutter--small;
            margin-top: -50px;
            margin-left: 4.33vw;
        }
    }
}
