.bold {
    font-weight: $weight--bold;
}

.italic {
    font-style: italic;
}

.paragraph {
    @include font-size(s);
    line-height: 30px;
    color: var(--color--grey);

    :global .themeLight :local & {
        color: var(--color--grey);
    }

    :global .themeIndigo :local & {
        color: var(--color--dark-indigo);
    }

    :global .themeDark :local & {
        color: var(--color--white);
    }

    :global .themeDark .themeLight :local & {
        color: var(--color--grey);
    }

    :global .themeDark .themeIndigo :local & {
        color: var(--color--dark-indigo);
    }
}

.h2 {
    @include font-size(l);
    font-weight: $weight--extrabold;
    line-height: 1;
    margin-bottom: 30px;
}

.h3 {
    @include font-size(ml);
    margin-top: $grid * 2.5;
    line-height: 1;
    margin-bottom: 12px;

    @include media-query(large) {
        margin-top: $grid * 3.5;
    }
}

.hyperlink {
    color: var(--color--dark-indigo);
    font-weight: $weight--bold;
    position: relative;
    text-decoration: none;
    border-bottom: 2px solid var(--color--underline);
    text-underline-position: under;

    &:hover {
        border-bottom: 2px solid var(--color--lagoon);
    }

    :global .themeLight :local & {
        color: var(--color--dark-indigo);
    }

    :global .themeIndigo :local & {
        color: var(--color--dark-indigo);
    }

    :global .themeDark :local & {
        color: var(--color--white);
    }

    :global .themeDark .themeLight :local & {
        color: var(--color--indigo);
    }

    :global .themeDark .themeIndigo :local & {
        color: var(--color--dark-indigo);
    }
}

.unorderedList {
    list-style: none;
    margin-left: 2px;
}

.listItem {
    position: relative;
    padding-left: 28px;
    margin-bottom: 18px;
    line-height: 1;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
        width: 10px;
        height: 15px;
        background-color: var(--color--coral);
        transform: rotate(30deg);

        :global .themeDark :local & {
            background-color: var(--color--lagoon);
        }
    }
}
