.bold {
    font-weight: $weight--bold;
}

.italic {
    font-style: italic;
}

.paragraph {
    @include font-size(s);
    line-height: 30px;
    color: var(--color--grey);

    :global .themeLight :local & {
        color: var(--color--grey);
    }

    :global .themeIndigo :local & {
        color: var(--color--dark-indigo);
    }

    :global .themeDark :local & {
        color: var(--color--white);
    }

    :global .themeDark .themeLight :local & {
        color: var(--color--grey);
    }

    :global .themeDark .themeIndigo :local & {
        color: var(--color--dark-indigo);
    }
}

.h2 {
    line-height: 36px;
    margin-bottom: 30px;
}

.h3 {
    @include font-size(ml);
    margin-top: $grid * 2.5;
    line-height: 34px;
    margin-bottom: 12px;

    @include media-query(large) {
        margin-top: $grid * 3.5;
    }
}

.hyperlink {
    color: var(--color--dark-indigo);
    font-weight: $weight--extrabold;
    position: relative;
    text-decoration: underline;
    text-underline-position: under;

    :global .themeLight :local & {
        color: var(--color--dark-indigo);
    }

    :global .themeIndigo :local & {
        color: var(--color--dark-indigo);
    }

    :global .themeDark :local & {
        color: var(--color--white);
    }

    :global .themeDark .themeLight :local & {
        color: var(--color--indigo);
    }

    :global .themeDark .themeIndigo :local & {
        color: var(--color--dark-indigo);
    }
}
